html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    font-family: 'Roboto';
    height: 100vh;
    width: 100vw;
}

#root{
    height: 100vh;
    width: 100vw;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10vh;
    width: 400px;

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        background: rgba(0,0,0,.1);
        border-radius: 0px 0px 5px 0px; /* top left, top right, bottom right, bottom left */
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(0,0,0,.5);
        box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}

.search-container{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &:hover{
        cursor: pointer;
    }

    input{
        -webkit-appearance: none;
        border: 0;
        max-width: 100%;
        font-size: 1rem;
        outline: none;
        width: 100px;
        margin-bottom: 5px;
        padding-left: 5px;
    }
}

.selected-country{
    background-color: #E8E8E8;
    color: rgba(0,0,0,.6);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    font-weight: 700;
}

.delete-icon{
    background-image: url("./Images/delete.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
}

.countries-list{
    height: 330px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 420px;
    margin: 0 -10px;
    margin-top: 5px;
    list-style: none;

    li{
        padding: 10px 15px;
        border-top: 1px solid #f0eeee;
        font-size: 1rem;
        color: rgba(0,0,0,.8);

        &:hover{
            background-color: #f0eeee;
            color: black;
            cursor: pointer;
        }
    }
}

