html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    font-family: 'Roboto';
}



.search-container{
    height: 50px;
    width: 300px;
    margin: 0 auto;
    margin-top: 10vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        cursor: pointer;
    }

    &:focus{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
}

.search-input{
    -webkit-appearance: none;
    border: 0;
    width: 150px;
    height: 100%;
    font-size: 20px;
    padding: 0 10px;
    outline: none;
}


.search-container{
    position: relative;
}

.countries-list{
    position: absolute;
    top: 50px;
    height: 325px;
    overflow: scroll;
    width: 300px;
    list-style: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    li{
        padding: 15px 20px;
        border-top: 1px solid black;
        font-size: 20px;

        &:hover{
            background-color: lightblue;
            cursor: pointer;
        }
    }

    
}

.selected-countries{
    background-color: grey;
    margin-left: 5px;
    padding: 3px 10px;
    border-radius: 5px;
    width: 100px;
    
}

.delete-icon{
    background-image: url("./Images/delete.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}